<div class="container forms">
  <h2 class="text-center">Edit Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %> <i class="normal-text">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Current Password" %>
    </div>
    <button type="submit" class="btn btn-default">Change Email Address</button>
  <% end %>
  <br />
  <br />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :new_password %> 
      <% if @minimum_password_length %>
      <em class="normal-text">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "New Password" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "New Password Confirmation" %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %> <i class="normal-text">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Current Password" %>
    </div>
    <button type="submit" class="btn btn-default">Change Password</button>
  <% end %>

  <div><p class="pull-right"><%= link_to "Want to delete your account?", registration_path(resource_name), data: {confirm: "Are you sure you want to cancel? This can't be reversed!"}, method: :delete, class: "normal-text" %> </p>
</div>
