<div class="user-profile">
  <div class="container">
    <div class="profile-header">
      <div class="user-image pull-left">
        <div class="glyphicon glyphicon-user text-center"></div>
      </div>
      <div id="user-credentials">
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>
      </div>
    </div>
    <hr />
    <div class="card-group">
      <!-- To Do List Card -->
      <a href="#" class="list-card-link">
        <div class="list-card">
          <div class="card-header text-center">
           <h3>To Do List</h3>
          </div>
          <div class="card-body">
            <ul>
              <% @items.each do |item| %>
                <li><%= item.name %></li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer">
            <div class="pull-left"><%= pluralize(@items.count, "Item") %></div>
            <div class="pull-right more"><a href="#">Add Item</a></div>
          </div>
          <div class="item-form">
            <%= render 'items/form', item: Item.new %>
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
</div>
