<div class="user-profile">
  <div class="container">
    <div class="profile-header">
      <div class="user-image pull-left">
        <div class="glyphicon glyphicon-user text-center"></div>
      </div>
      <div id="user-credentials">
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>
      </div>
    </div>
    <hr />
    <div class="card-group">
      <!-- To Do List Card -->
      <div class="list-card">
        <div class="card-header text-center">
         <h3>To Do List</h3>
        </div>
        <div class="card-body">
          <ul>
            <div class="js-item">
              <%= render @uncompleted_items %>
            </div>
          </ul>
        </div>
        <div class="card-footer">
          <div class="pull-left item-count"><%= pluralize(@uncompleted_items.count, "Item") %></div>
          <div class="pull-right add-item-link"><%= link_to "Add Item", "#" %></div>
        </div>
          <div class="new-item">
            <%= render 'items/form', item: Item.new %>
          </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
