<div class="container forms">
  <h2 class="text-center">Forgot Your Password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
    </div>
    <button type="submit" class="btn btn-default btn-lg">Send Reset Password Instructions</button>
  <% end %>
  
  <br />
  <%= render "devise/shared/links" %>

</div>

